@model PhytRxProject.Models.Patient

@{
    ViewBag.Title = "Details";
}
<p class="classId" style="display:none">@Html.DisplayFor(model => model.PID)</p>
<div> <a class="btn btn-sm animated-button thar-three" id="patientLogs">View Logs</a> </div>
<div> <a class="btn btn-sm animated-button thar-three" id="patientRX">View RXs</a> </div>
<div> <a class="btn btn-sm animated-button thar-three" id="createRX">Create RX</a> </div>

<script>
    var patientIdentifier = document.getElementById("classId").innerText
    var id = parseInt(patientIdentifier)

    $(document).ready(function () {

        $.("#patientLogs").click(function () {
            window.location.assign("/RXes/index/?pID=" + id);
        })

        $.("#patientRX").click(function () {
            window.location.assign("/Patients/index/?pID=" + id);
        })

        $.("#createRX").click(function () {
            window.location.assign("/RXes/create/?pID=" + id);
        })

    })
</script>

@*<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Log.ComTxt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Log.ComTxt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Physician.PhName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Physician.PhName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
