<link href="~/Content/DPTViewStyleSheet.css" rel="stylesheet" />

@model IEnumerable<PhytRxProject.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h3 class="heading1">DPT Main Menu</h3>
<div> <a href='/Patients/Create' class="btn btn-sm animated-button thar-three" id="patient-home-button">Add Patient</a> </div>
<div> <a href="#" class="btn btn-sm animated-button thar-three" id="patient-home-button">Load Patient</a> </div>
<div> <a href='/Exercis/Create' class="btn btn-sm animated-button thar-three" id="patient-home-button">Add Exercise</a> </div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physician.PhName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PPic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Log.ComTxt)
        </th>


        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physician.PhName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PPic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Log.ComTxt)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PID })
        </td>
    </tr>
}


</table>
