@model PhytRxProject.Models.Log

@{
    ViewBag.Title = "Details";
}

<h2>Log Details</h2>
<h3 align="right">Patient Name Here</h3>

<div>
    <h4>Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercis.ExName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Durations.XDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Durations.XDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Durations.PerDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Durations.PerDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PainNumb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PainNumb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiffNumb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiffNumb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComTxt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComTxt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullSet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartialSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartialSet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhID)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Exercis.ExName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RX.RxName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RX.RxName)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.LogID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
